<header>
    <div class="navbar-fixed">
    <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container" style="font-family:'Microsoft YaHei'">

            <a id="logo-container" href="/" class="brand-logo">剑三小铺</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li id="guild-tab"><a href="/guild">帮会<span class="new badge red"></span></a></li>
                <li id="stone-tab"><a href="/stone">五行石</a></li>
                <li id="clothes-tab"><a href="/clothes">外观</a></li>
                <li id="account-tab"><a href="/account">账号</a></li>
                <li id="want-tab"><a href="/want">许愿墙</a></li>
            </ul>

            <ul class="side-nav fixed hide-on-large-only" id="nav-mobile">
                <li><a class="blue darken-4 white-text center" style="font-size: 150%">目录</a></li>
                <li id="s-guild-tab" class="bold"><a href="/guild">帮会<span class="new badge red"></span></a></li>
                <li id="s-stone-tab"><a href="/stone">五行石</a></li>
                <li id="s-clothes-tab"><a href="/clothes">外观</a></li>
                <li id="s-account-tab"><a href="/account">账号</a></li>
                <li id="s-want-tab"><a href="/want">许愿墙</a></li>
            </ul>

        </div>
    </nav>
    </div>
</header>
