<!DOCTYPE html>
<html>
<% include head %>
<body>
<%- include navi %>
<div class="container">
    <div class="row">
        <p>施工中</p>
    </div>
</div>

<%- include footer %>

<script type="text/javascript">

    $('#want-tab').attr('class','active');
</script>
</body>
</html>